body {
    padding :0;
    margin: 0;
    font-family: Arial sans-serif;
    background: url("/img/backgroungImg.png") no-repeat center top /cover;
}

div{
    box-sizing: border-box;
}
.container{
    display: flex;
    width:939px;
    margin:0 auto;
}

.staticInfo{
    display: flex;
    flex-direction: column;
}
.hommLogo{
    margin-top: 82px;
}

.introInfo{
    margin-top: 136px;
}
.login-signup {
    margin-top: 198px;
    margin-left: 137px;
    width: 379px;
    background-color: #624f39;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;

    --box-shadow-color: #897b6b;
    box-shadow: inset 0 0 13px var(--box-shadow-color);
}


.login-signup button{
    background:url(/img/button.png) no-repeat;
    background-size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 33px;
    border :none;

    width: 150px;

    font-size: 14px;
    color: rgb(251, 247, 247);
    font-family: "AdelleCyrillic";
    text-transform: uppercase;
}

.login-signup input {
    height: 41px;
    width: 276px;
    background-color: #624f39;
    border: 1px solid #d9b028;
    margin-top: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;


    font-size: 18px;
    font-family: "AdelleCyrillic";
    color: rgba(251, 247, 247, 0.749);
    line-height: 1.667;
    text-align: left;

}

.login-signup h3 {
    color: #d9b028;
    font-size: 20px;
    margin-bottom: 0;
}

#errorText{
    margin-top: 9px;
    font-size: 14px;
    font-family: "AdelleCyrillic";
    color: rgb(241, 88, 68);
    font-variant: small-caps;
    line-height: 1;
    text-align: center;
}

#sendButton{
    margin-top:27px;
}
#textOr{
    margin-top:10px
}
#textTitle{
    font-size: 30px;
    margin-top:0;

    font-family: "AdelleCyrillic";
    color: rgb(221, 181, 52);
    font-variant: small-caps;
    line-height: 1;

}

#registrationButton{
    margin-top:10px;
}

#signupButton{
    margin-top:10px;
}

::placeholder {
    color: white;
}
input{
    color : #fff
}
