<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid #999;
            padding: 5px;
        }
    </style>
    <title>Title</title>
</head>
<body>

<h2>Employees</h2>
<table>
    <tr>
        <th>Enemies</th>
        <th>You</th>
    </tr>
    {{#castles}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
    </tr>
    {{/castles}}
</table>
</body>
</html>